.beers_container {
  margin: 10vh 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search_bar {
  width: 30%;
  margin: 4vh 30%;
  height: 4vh;
  -webkit-border-radius: 56px;
  -moz-border-radius: 56px;
  border-radius: 56px;
  border: 1px solid rgb(180, 177, 177);
}

.beer_item {
  width: 30%;
}

.beer_item > img {
  width: 15%;
  height: 45%;
}
