.beer_item_single {
  margin: 5vh 33%;
  width: 30%;
}

.beer_item_single > img {
  margin: 0 40%;
  width: 20%;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.subtitle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
